.book {
    width:300px;
    height: 200px;
    background:#ccc;
    position:relative;
    margin: 5px 5px;
}
.info {
    width:90%;
    height:90%;
    margin:5%;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    background:rgba(0,0,0,0.5);
    display:none;
    color: white;
}
.book .image {
    text-align:center;
    position:relative;
    top:50%;
}
.book:hover .info{
    display:block;
}

.offercontainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}